;#################################################################
;## El macro SERIAL_BUFFER_SIZE. necesita ser aumentado hasta
;## 128bytes.
;#################################################################

[env:zeroUSB]
platform = atmelsam
board = zeroUSB
framework = arduino
build_flags = -D SERIAL_BUFFER_SIZE=128
upload_port = /dev/ttyACM0
